html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #024332;
  color: white;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #d4d4d4;
}


.navbar-green {
  background-color: #024332 !important;
  color: white;
}

.navbar-green .nav-link {
  color: white !important; /* Ensures the text stays white */
}

.navbar-green .nav-link:hover {
  color: #e0e0e0; /* Optional: A lighter shade on hover */
}


.navbar-green .dropdown-item {
  color: white !important; /* Makes text white */
}

.navbar-green .dropdown-item:hover {
  color: #e0e0e0; /* Optional: A lighter shade on hover */
  background-color: #004d00; /* Optional: Slightly darker green for hover effect */
}